<div class="container-fluid login m-0 p-0">
  <img class="vetor-1 img-fluid" src="https://i.imgur.com/AVuU753.png" alt="">
  <img class="vetor-2 img-fluid" src="https://i.imgur.com/UN9uxTF.png" alt="">
  <div class="circlue"></div>
  <div class="circlue-2"></div>
  <div class="circlue-3"></div>
  <form class="caixa-inputs">
    <h3>Login</h3>
    <div class="row m-0 p-0 mt-2">
      <div class="col-md-8 inputs">
        <label for="">E-mail</label>
        <input type="text">

        <label for="">Senha</label>
        <input type="password">
      </div>
    </div>
    <div class="row m-0 p-0 d-flex justify-content-center">
      <div class="col-md-8 buttons ml-3">
        <a href="" class="">Acessar</a>
        <a routerLink='/cadastrar' class="">Cadastrar</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 divisor"></div>
    </div>
    <div class=" sociais-midias">
      <a href=""><i class="fab fa-facebook-square"></i></a>
      <a href=""><i class="fab fa-instagram-square"></i></a>
      <a href=""><i class="fab fa-linkedin"></i></a>
    </div>
  </form>
