<div class="container-fluid cadastro m-0 p-0">
  <img class="img-fluid vetor-3" src="https://i.imgur.com/dNzumIG.png" alt="">
  <img class="img-fluid vetor-4" src="https://i.imgur.com/XwQ2RnJ.png" alt="">
  <div class="circlue-2"></div>
  <div class="circlue-3"></div>
  <form class="caixa-inputs">
    <h3>Novo usuário</h3>
    <div class="row m-0 p-0 mt-1">
      <div class="col-md-12 inputs ">
        <label for="">Nome:</label>
        <input [(ngModel)]='usuario.nome' name="nome" id="nome" type="text">

        <label for="">E-mail:</label>
        <input [(ngModel)]='usuario.usuario' name="email" id="email" type="email">

        <label for="">Foto:</label>
        <input [(ngModel)]='usuario.foto' name="foto" id="foto" type="text">

        <label for="">Senha:</label>
        <input (input)='confirmaSenha($event)' name="senha" id="senha" type="password">

        <label for="">Confirma Senha:</label>
        <input [(ngModel)]='usuario.senha' name="confirmaSenha" id="confirmaSenha" type="password">

        <label for="">Tipo de usuário:</label>
        <select (change)='tipoUsuario($event)' name="tipoUsuario" id="tipo" type="select">
          <option>Qual é o seu tipo de Usuário</option>
          <option value="normal">Normal</option>
          <option value="adm">Administrador</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <button type="submit" (click)='cadastrar()' class="buttons" href="">Cadastrar</button>
      </div>
    </div>
  </form>
</div>
