<div class="container-fluid cadastro m-0 p-0">
  <img class="img-fluid vetor-3" src="https://i.imgur.com/ioC0TLx.png" alt="">
  <img class="img-fluid vetor-4" src="https://i.imgur.com/XwQ2RnJ.png" alt="">
  <div class="circlue-2"></div>
  <div class="circlue-3"></div>
  <div class="caixa-inputs">
    <h3>Novo usuário</h3>
    <div class="row m-0 p-0 mt-1">
      <div class="col-md-12 inputs">
        <label for="">Nome:</label>
        <input type="text">

        <label for="">Sobrenome:</label>
        <input type="text">

        <label for="">E-mail:</label>
        <input type="email">

        <label for="">Senha:</label>
        <input type="password">

        <label for="">Confirma Senha:</label>
        <input type="password">
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <a class="buttons" href="">Cadastrar</a>
        </div>
    </div>
  </div>
</div>
