a .button-edit {
  margin-left: 10px;
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

.header i:hover {
  color: blueviolet;
}

.header button {
  /* border: 1px solid rgba(255, 255, 255, 0); */
  border: none;
  color: white;
  text-transform: uppercase;
}

.header button:hover {
  background: none;
  border-bottom: 1px solid blueviolet;
  color: blueviolet;
  border: none;
}

img.img-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header h2 {
  color: blueviolet;
  font-size: 20px;
  margin-left: 14px;
}
