.footer{
    background-color: rgba(47, 46, 48, 0.829);
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.redes-sociais{
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
}
.redes-sociais a{
    margin-top: 30px;
    font-size: 24px;
}

.redes-sociais a:hover{
    color: blueviolet;
    cursor: pointer;
}

.rodape{
    display: flex;
    justify-content: center;
    align-self: center;
}

.footer span{
    color: white;
    text-align: center;
}
