<section>
    <div class="container m-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <h1>Você está prestes a jogar o seu Tema em um Buraco Negro!</h1>
                <h4>Tem certeza que deseja apagar esse tema? Caso sim todas as postagens relacionadas a ela seram perdidas</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 d-flex">
                <h5>Tema:</h5>
                <h5 class="text-center text-danger">{{tema.descricao}}</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-success" (click)='deletar()'></button>
                <button class="btn btn-dangen" routerLink='/temas'></button>
            </div>
        </div>
    </div>
</section>