*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}
.borda{
    border: 1px solid red;
}

.row
{
    margin: 0 !important;
    padding: 0 !important;
}
